*{
    margin: 0;
    padding: 0;
    font-family: "courier new";
    box-sizing: border-box;
}

header{
    background-color:rgba(225, 92, 30, 0.879);
    height: 80px;
    display: flex;
    padding: 25px;
    position: fixed;
    width: 100%;
}


.homelogo{
    

    height: 70px;
    width: 80px;
    border-radius:15px;
    
}


header a, li{
    font-family: tahoma;
    text-decoration: none;
    list-style-type: none;
    color:antiquewhite;
    display:inline-block;
    padding-left: 80px ;
    padding-top: 9px;
    font-weight: 700;
    margin-left: 50px;

}

.thirdpage{ height: 100vh;
    background-color: rgb(106, 150, 116);

}

.thrdhead h3{

    color: rgb(20, 25, 25);
    text-align: center;
    padding: 100px;



}

.thirdpage form{

    margin-bottom: 1200px;

    justify-content: center;
    
    margin-left: 42%;
    
    padding: 20px;
    border: 1px solid;
    width: 250px;
    height: 30vh;
}
